---
import AboutHeroImage from "../assets/blog-placeholder-about.jpg";
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="About Me"
	description="Hubert Eichner - Curriculum Vitae, Interests, Publications"
	pubDate={new Date("January 27 2025")}
>
	This is my personal blog - a place for coding and other projects, tutorials,
	and collection of publications.
	<ul style="list-style-type:none;">
		<li><h4>Hubert Eichner</h4></li>
		<li>GMail: hubert.georg.eichner</li>
		<li>Seattle, WA</li>
	</ul>
	<ul style="list-style-type:none;">
		<li>2001 - 2007: CS student at TU Munich</li>
		<li>
			2008 - 2012: PhD student at Max-Planck-Institute of Neurobiology
		</li>
		<li>2012 - 2015: Senior Scientist at Microsoft, Bellevue WA</li>
		<li>
			2015 - 2024: Senior Staff Software Engineer at Google, Seattle WA
		</li>
		<li>
			Internships, summer courses, student jobs:
			<ul>
				<li>2004: Transaction Software GmbH</li>
				<li>2004 - 2006: admin at TUM's InfiniBand cluster</li>
				<li>2005: IBM Extreme Blue, Logic Design</li>
				<li>
					2009: student @ Methods in Computational Neuroscience, Woods
					Hole, MA
				</li>
				<li>2011: teaching assistant @ MCN, Woods Hole, MA</li>
			</ul>
		</li>
		<li>
			Interests:
			<ul>
				<li>Artifical Intelligence & Machine Learning</li>
				<li>
					Physics simulations (game physics, neural simulations, ...)
				</li>
				<li>stuff I can't figure out</li>
			</ul>
		</li>
		<li>
			Theses & some publications:
			<ul>
				<li>
					<a href="/pdf/Eichner_Dissertation.pdf"
						>Internal Structure of the Fly Elementare Motion
						Detector</a
					> (2012). PhD thesis
				</li>
				<li>
					<a href="/pdf/eichner_diploma_thesis.pdf"
						>Parallel Neural Simulations on Multi-Core Processsors</a
					> (2007). Diploma thesis
				</li>
				<li>
					<a href="https://arxiv.org/abs/2404.10764"
						>Eichner et al. Confidential Federated Computations</a
					> (2024). Work done at Google.
				</li>
				<li>
					<a href="https://arxiv.org/abs/2107.06917"
						>Wang et al. A Field Guide to Federated Optimization
						(2021)</a
					>. Work done at Google.
				</li>
				<li>
					<a href="https://arxiv.org/pdf/1912.04977.pdf"
						>Kairouz et al. Advances and Open Problems in Federated
						Learning (2021). Foundations and Trends in Machine
						Learning, 14(1-2).</a
					>, section "Addressing System Challenges". Work done at
					Google.
				</li>
				<li>
					<a href="https://arxiv.org/abs/1910.10252"
						>Wang, Mathews, Kiddon, Eichner, Beaufays, Ramage.
						Federated Evaluation of On-Device Personalization (2019)</a
					>. Work done at Google.
				</li>
				<li>
					<a
						href="http://proceedings.mlr.press/v97/eichner19a/eichner19a.pdf"
						>Eichner, Koren, McMahan, Srebro, Talwar. Semi-Cyclic
						Stochastic Gradient Descent (2019)</a
					>. Work done at Google.
				</li>
				<li>
					<a href="https://arxiv.org/abs/1902.01046"
						>Bonawitz, Eichner, Grieskamp, Huba, Ingerman, Ivanov,
						Kiddon, Konecny, Mazzocchi, McMahan, Van Overveldt,
						Petrou, Ramage, Roselander. Towards Federated Learning
						at Scale: System Design (2019)</a
					>. Work done at Google.
				</li>
				<li>
					<a href="https://arxiv.org/abs/1812.02903"
						>Yang, Andrew, Eichner, Sun, Li, Kong, Ramage, Beaufays.
						Applied Federated Learning: Improving Google Keyboard
						Query Suggestions (2018)</a
					>. Work done at Google.
				</li>
				<li>
					<a href="https://arxiv.org/abs/1811.03604"
						>Hard, Rao, Mathews, Beaufays, Augenstein, Eichner,
						Kiddon, Ramage. Federated Learning for Mobile Keyboard
						Prediction (2018)</a
					>. Work done at Google.
				</li>
				<li>
					<a
						href="https://research.googleblog.com/2017/04/federated-learning-collaborative.html"
					>
						Federated Learning: Collaborative Machine Learning
						without Centralized Training Data</a
					> (2017). Blog post and work done at Google.
				</li>
				<li>
					Joesch, Weber, Eichner, Borst. Functional specialization of
					parallel motion detection circuits in the fly (2013). J
					Neurosci, 33
				</li>
				<li>
					Eichner, Joesch, Schnell, Reiff, Borst. Internal Structure
					of the Fly Elementare Motion Detector (2011). NEURON, 70(6)
				</li>
				<li>
					Eichner, Borst. Hands-On Parameter Search for Neural
					Simulations by a MIDI-Controller (2011). PLoS ONE, 6(10)
				</li>
				<li>
					Spavieri, Eichner, Borst. Coding Efficiency of Fly Motion
					Processing is Set by Firing Rate, Not Firing Precision
					(2010). PLoS Computational Biology, 6(7)
				</li>
				<li>
					Eichner, Klug, Borst. Neural Simulations on Multi-Core
					Architectures (2009). Frontiers in Neuroinformatics, 3
				</li>
				<li>
					Hines, Eichner, Schuermann. Neuron Splitting in
					Compute-Bound Parallel Network Simulations Enables Runtime
					Scaling With Twice as Many Processors (2008). Journal of
					Computational Neuroscience, 25
				</li>
				<li>
					Weber, Eichner, Cuntz, Borst. Eigenanalysis of a Neural
					Network for Optic Flow Processing (2008). New Journal of
					Physics, 10
				</li>
				<li>
					Stodden, Eichner, Walter, Trinitis. Hardware Instruction
					Counting for Log-Based Rollback Recovery on x86-Family
					Processors. Service Availability, Lecture Notes in Computer
					Science, 4328
				</li>
				<li>
					Eichner, Trinitis, Klug. Implementation of a DSM-System on
					Top of InfiniBand. Special Session on "Parallel and
					Distributed Storage Systems" at 1th Euromicro International
					Conference on Parallel, Distributed and Network-based
					Processing (PDP2006), Montbeliard-Sochaux, France
				</li>
			</ul>
		</li>
	</ul>
</Layout>
